/* .bg-sticky {
    background: rgba(4, 9, 30, 0.9);
    transition: all 0.5s;
  }
  .navbar {
    width: 100%;
  }
  a.nav-link {
    color: #fff;
    text-transform: uppercase;
    padding: 0 8px 0px 8px;
    display: inline-block;
    font-weight: 400;
    font-size: 12px;
    outline: none;
  } */
